// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
    font-family: 'Droid Arabic Kufi';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/DroidKufi-Regular.eot?#iefix) format('embedded-opentype'), url(../assets/fonts/DroidKufi-Regular.woff) format('woff'), url(../assets/fonts/DroidKufi-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Droid Arabic Kufi';
    font-style: normal;
    font-weight: 700;
    src: url(../assets/fonts/DroidKufi-Bold.eot?#iefix) format('embedded-opentype'), url(../assets/fonts/DroidKufi-Bold.woff) format('woff'), url(../assets/fonts/DroidKufi-Bold.ttf) format('truetype');
}

.toolbar-background {
    background-color: rgba(49, 55, 61, 0.8);
}

.toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
}

.tabs-md .tabbar {
    background: rgba(49, 55, 61, 0.8);
}

.tabs-md .tab-button-text,
.tabs-md .tab-button-icon {
    color: #fff;
}

.bar-button-default-md,
.bar-button-clear-md-default,
.bar-button-md-default {
    color: #fff;
}

// .my-container {
//     // background-image:  url(../assets/menu.png);
//     // background-repeat: repeat;
//     // -webkit-background-size: cover;
//     // -moz-background-size: cover;
//     // background-size: cover;
//     background-color: rgba(49,55,61,0.8);
//     border-right: 6px solid #f7600f;
//     height: 100%;
// }
.my-container ion-item {
    background-color: transparent !important;
    color: #fff;
}

.my-container ion-item .item-inner {
    border-bottom: none !important;
}