page-user {
    .text-input{
        text-align: right !important;
    }
   
    
    .item-input ion-label {
    font-size: 1.5rem !important;
    color: black !important;
    text-align: right !important;
  }
}
